@font-face {
    font-family: "Euclid Flex Trial";
    src: url('fonts/EuclidFlexBold.woff') format('woff');
}

@font-face {
    font-family: "GT America Trial";
    src: url("fonts/gt-america-standard-regular.woff") format('woff');
}

@font-face {
    font-family: 'GT Pressura Mono';
    src: url('fonts/GT-Pressura-Mono-Regular.woff') format('woff');
}

/* Arrow animation */
@keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
.down {animation: downarrow 0.6s infinite alternate ease-in-out;}
.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}
/* ---- */

body {
    height: 90vh;
    width: 90vw;
    border-bottom: #FFF solid 5vh;
    border-top: #FFF solid 5vh;
    border-right: #FFF solid 5vw;
    border-left: #FFF solid 5vw;
    scroll-behavior: smooth;
}

#wrapper {
    height: 90vh;
    width: 90vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
#wrapper section {
    scroll-snap-align: start;
}

section {
    height: 90vh;
    width: 90vw;
}

.font {color: #FFF;}
.font-w {font-weight: bold;}

.font-1 {font-family: "Euclid Flex Trial";}
.font-2 {font-family: "GT America Trial";}
.font-3 {font-family: 'GT Pressura Mono';}
.font-4 {font-family: 'Playfair Display', serif;}

.font-size-xl {font-size: 8vmin;}
.font-size-l {font-size: 6vmin;}
.font-size-m {font-size: 4vmin;}
.font-size-s {font-size: 2vmin;}
.font-size-xs {font-size: 1.2vmin;}

.txt-1 {text-align: center;}
.txt-2 {vertical-align: middle;}
.txt-3 {text-align: right;}

.txt-sp-1 {letter-spacing: 2px;}
.txt-sp-2 {letter-spacing: 0.5px;}
.txt-sp-3 {letter-spacing: 1px;}

.b-color-1 {background-color: #38429B;}
.b-color-2 {background-color: #51806D;}
.b-color-3 {background-color: #D74134;}

.pad-1 {padding: 10% 10% 0;}
.pad-2 {padding: 3% 5% 7%;}
.pad-3 {padding-left: 20%;}
.pad-4 {padding-right: 20%;}
.pad-5 {padding-top: 2vh;}
.pad-6 {padding-bottom: 2vh;}
.pad-7 {padding-left: 7%;}
.pad-8 {padding: 10% 5% 0;}

.flex {display: flex;}
.flex-2 {justify-content: space-between;}
.flex-3 {flex-direction: row-reverse;}

.w-1 {width: 20vw;}
.w-2 {width: 30vw;}
.w-3 {width: 5vw;}
.w-4 {width: 35vw;}

.b-top {border-top: #FFF solid 1px;}
.b-bottom {border-bottom: #FFF solid 1px;}

.link {text-decoration: underline}
.link:hover {color: #FFF;}
.toggle:hover {
    color: #FFF;
    text-decoration: none;
}