@font-face {
    font-family: "Euclid Flex Trial";
    src: url('fonts/EuclidFlexBold.woff') format('woff');
}

@font-face {
    font-family: "GT America Trial";
    src: url("fonts/gt-america-standard-regular.woff") format('woff');
}

@font-face {
    font-family: 'GT Pressura Mono';
    src: url('fonts/GT-Pressura-Mono-Regular.woff') format('woff');
}


/* Arrow animation */
@keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
.down {animation: downarrow 0.6s infinite alternate ease-in-out;}
/* ---- */


/* Project details */
.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}
/* ---- */


/* "Parallax" effect */
#s-1 {z-index: 1;}
#s-2 {z-index: 2;}
#s-3 {z-index: 3;}
#s-4 {z-index: 4;}
#s-5 {z-index: 5;}
/* ---- */


/* Title fade effect */
/* @keyframes fade {
    0% {opacity: 0}
    100% {opacity: 1}
}
.title-fade {
    animation: fade 1s;
} */
/* ---- */

body {
    height: 90vh;
    width: 100vw;
    border: solid white 5vmin;
    border-bottom: #FFF solid 5vh;
    border-top: #FFF solid 5vh;
    border-right: #FFF solid 5vw;
    border-left: #FFF solid 5vw;
    scroll-behavior: smooth;
}

section {
    height: 90vh;
    width: 90vw;
    position: sticky;
    top: 0vh;
}

#wrapper {
    height: 90vh;
    width: 90vw;
    top: 5vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: fixed;
}
#wrapper section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#name {
    position: fixed;
    z-index: 6;
    top: 5vh;
    height: 10vh;
    width: 90vw;
}

#projects-wrapper {
    top: 15vh;
    height: 70vh;
    overflow: auto;
}

.font {color: #FFF;}
.font-w {font-weight: bold;}

.font-1 {font-family: "Euclid Flex Trial";}
.font-2 {font-family: "GT America Trial"; font-weight: 100;}
.font-3 {font-family: 'GT Pressura Mono';}
.font-4 {font-family: 'Almendra Display', cursive;}

.font-size-xl {font-size: 8vmin;}
.font-size-l {font-size: 6vmin;}
.font-size-m {font-size: 4vmin;}
.font-size-s {font-size: 2vmin;}
.font-size-xs {font-size: 1.2vmin;}

.txt-1 {text-align: center;}
.txt-2 {vertical-align: middle;}
.txt-3 {text-align: right;}

.txt-sp-1 {letter-spacing: 2px;}
.txt-sp-2 {letter-spacing: 0.5px;}
.txt-sp-3 {letter-spacing: 1px;}

.b-color-1 {background-color: #38429B;}
.b-color-2 {background-color: #51806D;}
.b-color-3 {background-color: #D74134;}

.pad-footer {padding: 15vh 0 0;}
.pad-list {padding: 20vh 0 0;}
.pad-name {padding: 5vh 0;}
.pad-intro {padding: 30vh 5vw 0;}
.pad-title {padding: 40vh 10vw}
.pad-3 {padding-left: 20%;}
.pad-4 {padding-right: 20%;}
.pad-5 {padding-top: 2vh;}
.pad-6 {padding-bottom: 2vh;}
.pad-7 {padding-left: 7%;}
.pad-8 {padding: 10% 5% 0;}

.flex {display: flex;}
.flex-2 {justify-content: space-between;}
.flex-3 {flex-direction: row-reverse;}

.w-1 {width: 20vw;}
.w-2 {width: 30vw;}
.w-3 {width: 5vw;}
.w-4 {width: 35vw;}

.b-top {border-top: #FFF solid 1px;}
.b-bottom {border-bottom: #FFF solid 1px;}

.link {
    border-bottom:1px solid white;
    padding-bottom:2px;
}
.link:hover {
    color: #FFF;
    text-decoration: none;
}
.toggle:hover {color: white; text-decoration: none;}