@font-face {
    font-family: "Euclid Flex Trial";
    src: url('fonts/EuclidFlexBold.woff') format('woff');
}

@font-face {
    font-family: "GT America Trial";
    src: url("fonts/gt-america-standard-regular.woff") format('woff');
}

@font-face {
    font-family: 'GT Pressura Mono';
    src: url('fonts/GT-Pressura-Mono-Regular.woff') format('woff');
}

@keyframes scrolldown {
    0% {
        background-color: #38429B;
        /* opacity: 1; */
    }
    100% {
        background-color: #51806D;
        /* opacity: 1; */
    }
}
@keyframes scrollup {
    0% {
        background-color: #51806D;
        /* opacity: 1; */
    }
    100% {
        background-color: #38429B;
        /* opacity: 1; */
    }
}
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
    }
}

body {margin: 0;}

section {
    margin: 5vh 5vw;
    height: 90vh;
    width: 90vw;
}

.font {color: #FFF;}
.txt-sp-1 {letter-spacing: 2px;}
.txt-sp-2 {letter-spacing: 0.5px;}
.txt-sp-3 {letter-spacing: 1px;}

.font-w {font-weight: bold;}

.font-1 {font-family: "Euclid Flex Trial";}
.font-2 {font-family: "GT America Trial";}
.font-3 {font-family: 'GT Pressura Mono';}
.font-4 {font-family: 'Playfair Display', serif;}

.font-size-xl {font-size: 8vmin;}
.font-size-l {font-size: 6vmin;}
.font-size-m {font-size: 4vmin;}
.font-size-s {font-size: 2vmin;}
.font-size-xs {font-size: 1.2vmin;}

.txt-1 {text-align: center;}
.txt-2 {vertical-align: middle;}
.txt-3 {text-align: right;}

.b-color-1 {background-color: #38429B;}
.b-color-2 {background-color: #51806D;}
.b-color-3 {background-color: #D74134;}

.pad-1 {padding: 10% 10% 0;}
.pad-2 {padding: 3% 5% 7%;}
.pad-3 {padding-left: 20%;}
.pad-4 {padding-right: 20%;}
.pad-5 {padding-top: 2vh;}
.pad-6 {padding-bottom: 2vh;}
.pad-7 {padding-left: 7%;}
.pad-8 {padding: 10% 5% 0;}

.flex {display: flex;}
.flex-2 {justify-content: space-between;}
.flex-3 {flex-direction: row-reverse;}

.w-1 {width: 20vw;}
.w-2 {width: 30vw;}
.w-3 {width: 5vw;}
.w-4 {width: 35vw;}

.b-top {border-top: #FFF solid 1px;}
.b-bottom {border-bottom: #FFF solid 1px;}

.link {text-decoration: underline}
.link:hover {color: #FFF;}
.toggle:hover {
    color: #FFF;
    text-decoration: none;
}

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

/* 
.container {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 5vw;
    height: 90vh;
    width: 90vw;
}
.sub-container {
    height: 70vh;
    width: 60vw;
}
.name {
    font-size: 30px;
    margin-top: 10vh;
}
.title {
    font-size: 40px;
    margin-top: 10vh;
}
.large-title {
    font-size: 10vh;
    margin-top: 20vh;
} */


/* .grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 20% 50% 15%;
    grid-template-areas: 
    ". . ."
    ". name ."
    ". title ."
    "bottom-left . .";
    justify-items: center;
    align-items: center;
} */

/* .table {
    display: flex;
    flex-direction: column;
    border-top: white 1px solid; 
}
.row {
    border-bottom: white 1px solid; 
    display: flex;
    justify-content: space-between;
}
.project {
    font-family: 'GT Pressura Mono';
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
}
.description {
    width: 42vw;
    font-family: "GT America Trial";
    font-size: 25px;
}
.button {
    margin-top: 1vh;
    font-size: 25px;
    width: 3vw;
    text-align: right;
} */




/* ____________ */
/* For corner labels */
/* .label {
    color: #FFF;
    font-family: "GT Pressura Mono";
    font-size: 10px;
    letter-spacing: 2px;
    transform: scaleX(-1) scaleY(-1) rotate(90deg);
    position: -webkit-sticky;
    position: fixed;
}

.top-right {
    top: 18vh;
    left: 85vw;
}

.bottom-left {
    bottom: 13vh;
    left: 4vw;
} */
/* ____________ */